/* Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Aplicar Roboto globalmente */
* {
  font-family: 'Roboto', sans-serif;
}

/* Estilos para botones deshabilitados */
.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}

.btn-danger[disabled] {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  opacity: 0.4;
}

/* estilos globales opcionales */
