# macOS
.DS_Store

# Node (monorepo)
**/node_modules/
**/dist/
**/build/
**/.cache/
**/.eslintcache
**/coverage/
**/*.tsbuildinfo

# Herramientas comunes
**/.vite/
**/.turbo/
**/.parcel-cache/
**/.next/
**/.nuxt/

# Angular
**/.angular/cache/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Entornos (no subir secretos)
**/.env
**/.env.*
!**/.env.example

# VSCode (opcional mantener recomendaciones)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
